# フロント
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front/node_modules
front/.pnp
front/.pnp.*
front/.yarn/*
!front/.yarn/patches
!front/.yarn/plugins
!front/.yarn/releases
!front/.yarn/versions

# testing
front/coverage

# next.js
front/.next/
front/out/

# production
front/build

# misc
front/.DS_Store
front/*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
.env*

# vercel
front/.vercel

# typescript
front/*.tsbuildinfo
front/next-env.d.ts





# バック
# Ignore bundler config.
back/.bundle

# Ignore all logfiles and tempfiles.
back/log/*
back/tmp/*
!back/log/.keep
!back/tmp/.keep

# Ignore pidfiles, but keep the directory.
back/tmp/pids/*
!back/tmp/pids/
!back/tmp/pids/.keep

# Ignore uploaded files in development.
back/storage/*
!back/storage/.keep
back/tmp/storage/*
!back/tmp/storage/
!back/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
back/config/master.key