<p style=" margin-bottom: 20px;">
  <a href="https://www.jam-my.com/" style="display: inline-block;">
    <img src="https://api.jam-my.com/MailLogo.jpg" alt="JamMy Logo" width="150" height="auto" style="display: block; margin-left: 0;">
  </a>
</p>

<p style="color: #494848;">こんにちは、 <%= @resource.email %> 様</p>

<p style="color: #494848;">以下のリンクをクリックして、パスワードをリセットしてください。</p>

<p>
  <%= link_to 'パスワード変更', "#{Rails.configuration.x.reset_password_url}?reset_password_token=#{@token}",
      style: 'display: inline-block; padding: 10px 20px; color: #FAFAFA; background-color: #3F51B5;
              text-decoration: none; border-radius: 5px; font-weight: bold;' %>
</p>

<p style="color: #494848;">
  このリンクは <strong>一度のみ有効</strong> で、一定時間が経過すると無効になります。
  期限が切れた場合は、再度パスワードリセット画面から申請してください。
</p>

<p style="color: #494848;">
  もし、あなたがこのリクエストに <strong>心当たりがない場合</strong> は、このメールを無視してください。
  アカウントの安全が心配な場合は、<a href="https://docs.google.com/forms/d/e/1FAIpQLSf2F2t-i6hRg20p24Qq_en1MhfNxeXD2mDeqqpy2uGuYLDxog/viewform"
  style="color: #3F51B5; text-decoration: none; font-weight: bold;">こちら</a> からご連絡ください。
</p>

<hr style="border: none; border-top: 1px solid #BDBDBD; margin: 20px 0;">

<p style="text-align: center; font-size: 14px;">
  <a href="https://www.jam-my.com/" style="color: #7986CB; text-decoration: none; font-weight: bold;">ホーム</a> |
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2F2t-i6hRg20p24Qq_en1MhfNxeXD2mDeqqpy2uGuYLDxog/viewform" style="color: #7986CB; text-decoration: none; font-weight: bold;">お問い合わせ</a> |
  <a href="https://www.jam-my.com/privacy_policy" style="color: #7986CB; text-decoration: none; font-weight: bold;">プライバシーポリシー</a>
</p>

<p style="text-align: center; font-size: 12px; color: #757575; margin-top: 10px;">
  © 2025 Hanamu. All rights reserved.
</p>
