<p>こんにちは、 <%= @resource.email %>様</p>

<p>以下のリンクをクリックして、パスワードをリセットしてください</p>

<p>
  <%= link_to 'パスワード変更', "#{Rails.configuration.x.reset_password_url}?reset_password_token=#{@token}",
      style: 'display: inline-block; padding: 10px 20px; color: white; background-color: #007BFF; text-decoration: none; border-radius: 5px;' %>
</p>